* {
   font-family:Arial, Helvetica, sans-serif;
}

body{
  background: linear-gradient(to top right, orange, rgb(23, 23, 156));
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  color:white;
  
}

h1 {
  font-size: 3rem;
  font-family:fantasy;
  background-image: linear-gradient(to  top right,orange 30%, white 100%);
  background-clip: text;
  color:transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
  justify-items: center;
  height: 35vh;
  width: 100vh;
  outline: none;
  
}

.box {
  border: 2px solid black;
  width: 100px;
  cursor: pointer;
  height: 100px;
  font-size: 5rem;
  outline: none;
  background-image: linear-gradient(to  top right,orange 30%, white 100% );
  background-clip: text;
  color:transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}

.box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
  border-top: none;
}

.box:nth-child(3n + 1) {
  border-left: none;
}

.box:nth-child(3n + 3) {
  border-right: none;
}

.box:last-child,
.box:nth-child(7),
.box:nth-child(8) {
  border-bottom: none;
}

.restart .btn{
  padding: 0.6em 2em;
  font-size: 1.5em;
  border-radius:7px;
  outline: none;
  cursor: pointer;
  border:none;
  background-color: wheat;
  
}

.game-status, .winner{
  padding:2em;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-image: linear-gradient(to top right,white 10%, orange 100%);
  background-clip: text;
  color:transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.winner{
  margin-top: -4rem;
  padding-bottom: 1em;
  color:white;

}


h3{
  margin-top: 3rem;
  background-image: linear-gradient(to top right,white 10%, orange 100%);
  background-clip: text;
  color:transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

